@import 'tailwindcss';
@source '../**/*.{js,ts,jsx,tsx}';

@theme {
    --color-slate-950: #020617;
}

@layer base {

    html,
    body,
    #root {
        @apply h-full w-full overflow-hidden;
        margin: 0;
        padding: 0;
    }
}

@import 'tw-animate-css';